// ==========================================================================
//
// Name:        Nippon Colors Palette
// Description: The traditional colors of Japan.
// Version:     1.0.0
//
// Author:      Ono Takehiko
// URL:         http://nipponcolors.com/
//
// ==========================================================================

@nadeshiko: #DC9FB4;
@kohbai: #E16B8C;
@suoh: #8E354A;
@taikoh: #F8C3CD;
@ikkonzome: #F4A7B9;
@kuwazome: #64363C;
@momo: #F596AA;
@ichigo: #B5495B;
@usubeni: #E87A90;
@imayoh: #D05A6E;
@nakabeni: #DB4D6D;
@sakura: #FEDFE1;
@umenezumi: #9E7A7A;
@karakurenai: #D0104C;
@enji: #9F353A;
@kurenai: #CB1B45;
@toki: #EEA9A9;
@cyohsyun: #BF6766;
@kokiake: #86473F;
@sakuranezumi: #B19693;
@jinzamomi: #EB7A77;
@azuki: #954A45;
@suohkoh: #A96360;
@akabeni: #CB4042;
@shinsyu: #AB3B3A;
@haizakura: #D7C4BB;
@kuriume: #904840;
@ebicha: #734338;
@ginsyu: #C73E3A;
@kurotobi: #554236;
@benitobi: #994639;
@akebono: #F19483;
@benikaba: #B54434;
@mizugaki: #B9887D;
@sangosyu: #F17C67;
@benihiwada: #884C3A;
@syojyohi: #E83015;
@entan: #D75455;
@shikancha: #B55D4C;
@hiwada: #854836;
@kakishibu: #A35E47;
@ake: #CC543A;
@tobi: #724832;
@benihi: #F75C2F;
@kurikawacha: #6A4028;
@bengara: #9A5034;
@terigaki: #C46243;
@edocha: #AF5F3C;
@araisyu: #FB966E;
@momoshiocha: #724938;
@karacha: #B47157;
@tokigaracha: #DB8E71;
@ohni: #F05E1C;
@sohi: #ED784A;
@ensyucha: #CA7853;
@kabacha: #B35C37;
@kogecha: #563F2E;
@akakoh: #E3916E;
@suzumecha: #8F5A3C;
@shishi: #F0A986;
@sodenkaracha: #A0674B;
@kaba: #C1693C;
@kokikuchinashi: #FB9966;
@kurumi: #947A6D;
@taisya: #A36336;
@araigaki: #E79460;
@kohrozen: #7D532C;
@akakuchiba: #C78550;
@tonocha: #985F2A;
@akashirotsurubami: #E1A679;
@sencha: #855B32;
@kanzo: #FC9F4D;
@sharegaki: #FFBA84;
@beniukon: #E98B2A;
@umezome: #E9A368;
@biwacha: #B17844;
@chojicha: #96632E;
@kenpohzome: #43341B;
@kohaku: #CA7A2C;
@usugaki: #ECB88A;
@kyara: #78552B;
@chojizome: #B07736;
@fushizome: #967249;
@kuchiba: #E2943B;
@kincha: #C7802D;
@kitsune: #9B6E23;
@susutake: #6E552F;
@usukoh: #EBB471;
@tonoko: #D7B98E;
@ginsusutake: #82663A;
@ohdo: #B68E55;
@shiracha: #BC9F77;
@kobicha: #876633;
@kigaracha: #C18A26;
@yamabuki: #FFB11B;
@yamabukicha: #D19826;
@hajizome: #DDA52D;
@kuwacha: #C99833;
@tamago: #F9BF45;
@shirotsurubami: #DCB879;
@kitsurubami: #BA9132;
@tamamorokoshi: #E8B647;
@hanaba: #F7C242;
@namakabe: #7D6C46;
@torinoko: #DAC9A6;
@usuki: #FAD689;
@kikuchiba: #D9AB42;
@kuchinashi: #F6C555;
@tohoh: #FFC408;
@ukon: #EFBB24;
@karashi: #CAAD5F;
@higosusutake: #8D742A;
@rikyushiracha: #B4A582;
@aku: #877F6C;
@rikyucha: #897D55;
@rokohcha: #74673E;
@nataneyu: #A28C37;
@uguisucha: #6C6024;
@kimirucha: #867835;
@mirucha: #62592C;
@kariyasu: #E9CD4C;
@nanohana: #F7D94C;
@kihada: #FBE251;
@mushikuri: #D9CD90;
@aokuchiba: #ADA142;
@ominaeshi: #DDD23B;
@hiwacha: #A5A051;
@hiwa: #BEC23F;
@uguisu: #6C6A2D;
@yanagicha: #939650;
@koke: #838A2D;
@kikujin: #B1B479;
@rikancha: #616138;
@aikobicha: #4B4E2A;
@miru: #5B622E;
@sensaicha: #4D5139;
@baikocha: #89916B;
@hiwamoegi: #90B44B;
@yanagizome: #91AD70;
@urayanagi: #B5CAA0;
@iwaicha: #646A58;
@moegi: #7BA23F;
@nae: #86C166;
@yanagisusutake: #4A593D;
@matsuba: #42602D;
@aoni: #516E41;
@usuao: #91B493;
@yanaginezumi: #808F7C;
@tokiwa: #1B813E;
@wakatake: #5DAC81;
@chitosemidori: #36563C;
@midori: #227D51;
@byakuroku: #A8D8B9;
@oitake: #6A8372;
@tokusa: #2D6D4B;
@onandocha: #465D4C;
@rokusyoh: #24936E;
@sabiseiji: #86A697;
@aotake: #00896C;
@veludo: #096148;
@mushiao: #20604F;
@aimirucha: #0F4C3A;
@tonocha2: #4F726C;
@aomidori: #00AA90;
@seiji: #69B0AC;
@tetsu: #26453D;
@mizuasagi: #66BAB7;
@seiheki: #268785;
@sabitetsuonando: #405B55;
@korainando: #305A56;
@byakugun: #78C2C4;
@omeshicha: #376B6D;
@kamenozoki: #A5DEE4;
@fukagawanezumi: #77969A;
@sabiasagi: #6699A1;
@mizu: #81C7D4;
@asagi: #33A6B8;
@onando: #0C4842;
@ai: #0D5661;
@shinbashi: #0089A7;
@sabionando: #336774;
@tetsuonando: #255359;
@hanaasagi: #1E88A8;
@ainezumi: #566C73;
@masuhana: #577C8A;
@sora: #58B2DC;
@noshimehana: #2B5F75;
@chigusa: #3A8FB7;
@omeshionando: #2E5C6E;
@hanada: #006284;
@wasurenagusa: #7DB9DE;
@gunjyo: #51A8DD;
@tsuyukusa: #2EA9DF;
@kurotsurubami: #0B1013;
@kon: #0F2540;
@kachi: #08192D;
@ruri: #005CAF;
@rurikon: #0B346E;
@benimidori: #7B90D2;
@fujinezumi: #6E75A4;
@tetsukon: #261E47;
@konjyo: #113285;
@benikakehana: #4E4F97;
@konkikyo: #211E55;
@fuji: #8B81C3;
@futaai: #70649A;
@ouchi: #9B90C2;
@fujimurasaki: #8A6BBE;
@kikyo: #6A4C9C;
@shion: #8F77B5;
@messhi: #533D5B;
@usu: #B28FCE;
@hashita: #986DB2;
@edomurasaki: #77428D;
@shikon: #3C2F41;
@kokimurasaki: #4A225D;
@sumire: #66327C;
@murasaki: #592C63;
@ayame: #6F3381;
@fujisusutake: #574C57;
@benifuji: #B481BB;
@kurobeni: #3F2B36;
@nasukon: #572A3F;
@budohnezumi: #5E3D50;
@hatobanezumi: #72636E;
@kakitsubata: #622954;
@ebizome: #6D2E5B;
@botan: #C1328E;
@umemurasaki: #A8497A;
@nisemurasaki: #562E37;
@tsutsuji: #E03C8A;
@murasakitobi: #60373E;
@shironeri: #FCFAF2;
@gofun: #FFFFFB;
@shironezumi: #BDC0BA;
@ginnezumi: #91989F;
@namari: #787878;
@hai: #828282;
@sunezumi: #787D7B;
@rikyunezumi: #707C74;
@nibi: #656765;
@aonibi: #535953;
@dobunezumi: #4F4F48;
@benikeshinezumi: #52433D;
@aisumicha: #373C38;
@binrojizome: #3A3226;
@keshizumi: #434343;
@sumi: #1C1C1C;
@kuro: #080808;
@ro: #0C0C0C;
